@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-bg: #0B2545;
  --color-white: #EEF4ED;
  --color-blue: #134074;
  --color-darker-blue: #13315C;
  --color-lighter-blue: #8DA9C4;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}


body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




